In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('FGC.csv')

In [3]:
data

,Timestamp,Full name,Roll number,Contact Number,NU Email,Which category are you opting for?,Why choose you? Explain your relevant experience in the category chosen above,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2/12/2022 23:46:07,Ahmad Ul Wahhab,19I-0492,3.340665e+09,i190492@nu.edu.pk,"Marketing, Security, Event operations",I served in all three categories selected abov...,"operation ,",already in 3 socities,not the priority,NaN,NaN,NaN
1,2/12/2022 23:51:57,Syed Muhammad Farjad,20i-0872,3.169551e+09,i200872@nu.edu.pk,"Security, Event operations",No Experience. Trying to get some,NaN,NaN,NaN,NaN,NaN,NaN
2,2/12/2022 23:58:36,Ali Ashraf,21I-0605,3.365482e+09,i210605@nu.edu.pk,Match Commentators,"""Only For Valorant and CSGO""\nHave casted Paki...",NaN,NaN,NaN,NaN,NaN,NaN
3,2/13/2022 0:15:48,Muhammad Saood,i210894,3.356808e+09,i210894@nu.edu.pk,Security,I have been in the security team in ma college,NaN,NaN,NaN,NaN,NaN,NaN
4,2/13/2022 0:21:36,Khadija Mehmood,20i-0970,3.345526e+09,I200970@nu.edu.pk,"Event Head/Secretary, Marketing, Media",I’ve experience and currently I’m the vice hea...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data[data['Which category are you opting for?'].str.contains('Match Commentators') == True]

,Timestamp,Full name,Roll number,Contact Number,NU Email,Which category are you opting for?,Why choose you? Explain your relevant experience in the category chosen above,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
2,2/12/2022 23:58:36,Ali Ashraf,21I-0605,3.365482e+09,i210605@nu.edu.pk,Match Commentators,"""Only For Valorant and CSGO""\nHave casted Paki...",NaN,NaN,NaN,NaN,NaN,NaN
10,2/13/2022 9:48:18,Muhammad Arham Akmal,21i-0710,9.231054e+11,i210710@nu.edu.pk,Match Commentators,can do exciting and interesting commentary and...,NaN,NaN,NaN,NaN,NaN,NaN
31,2/13/2022 16:20:53,Muhammad Bilal Saleem,i190526,9.230707e+11,i190526@nu.edu.pk,"Match Commentators, Marketing, Information and...",I have good enough experience of society works!,NaN,NaN,NaN,NaN,NaN,NaN
38,2/13/2022 18:27:57,Zaryab Hassan,20I2487,3.135702e+09,i202487@nu.edu.pk,Match Commentators,I know I am one of the many people applying fo...,NaN,NaN,NaN,NaN,NaN,NaN
41,2/13/2022 19:49:33,Abdullah Sajid,20i-0932,3.366592e+09,i200932@nu.edu.pk,"Event Head/Secretary, Tournament moderators, M...",I have participated in the previous fast gamin...,NaN,NaN,NaN,NaN,NaN,NaN
51,2/14/2022 14:47:09,Ahmad Hassan,21I-0403,3.095935e+09,i210403@nu.edu.pk,"Tournament moderators, Match Commentators",As a tournament moderator I previously have th...,NaN,NaN,NaN,NaN,NaN,NaN
52,2/14/2022 14:50:04,Agha Talha Siddiqui,21I-2544,3.339893e+09,i212544@nu.edu.pk,"Tournament moderators, Match Commentators",I have been gaming for a long time. Almost fro...,NaN,NaN,NaN,NaN,NaN,NaN
54,2/14/2022 15:51:15,Waleed Nouman,21i-2675,3.077770e+09,i212675@nu.edu.pk,"Match Commentators, Graphics, Live Stream Host...",I have previous experience hosting livestream ...,NaN,NaN,NaN,NaN,NaN,NaN
78,2/16/2022 0:12:03,Hamid Asad,21I-0557,3.418512e+09,i210557@nu.edu.pk,"Match Commentators, Event operations",I've worked in ops teams for FSA at Fast and a...,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import skrf as rf