# ASSIGNMENT 4

In [5]:
import pandas as pd

df = pd.read_csv("COVID-19.csv")
df = df.dropna()
df

,day,Country,Country Name,Region,Deaths,Cumulative Deaths,Confirmed,Cumulative Confirmed
0,2020-02-24,AF,Afghanistan,EMRO,0,0,1,1
1,2020-02-25,AF,Afghanistan,EMRO,0,0,0,1
2,2020-02-26,AF,Afghanistan,EMRO,0,0,0,1
3,2020-02-27,AF,Afghanistan,EMRO,0,0,0,1
4,2020-02-28,AF,Afghanistan,EMRO,0,0,0,1
...,...,...,...,...,...,...,...,...
9037,2020-04-12,ZW,Zimbabwe,AFRO,0,3,2,13
9038,2020-04-13,ZW,Zimbabwe,AFRO,0,3,1,14
9039,2020-04-14,ZW,Zimbabwe,AFRO,0,3,3,17
9040,2020-04-15,ZW,Zimbabwe,AFRO,0,3,1,18
9041,2020-04-16,ZW,Zimbabwe,AFRO,0,3,5,23

# Part 1

In [439]:
def q1(date):    
    country = df["Country Name"].unique()
    s1 = country.size
    confirm = [0]*s1
    death = [0]*s1
    for i in range(s1):
        confirm[i] = df[(df["day"]==date)&(df["Country Name"]==country[i])]["Confirmed"].max()
        death[i] = df[(df["day"]==date)&(df["Country Name"]==country[i])]["Deaths"].max()
    print("CONFIRMED:")
    print(pd.DataFrame(country,confirm).sort_index(ascending=False).head(20))
    print("DEATHS:")
    print(pd.DataFrame(country,death).sort_index(ascending=False).head(20))

In [440]:
date = input("Enter the date (y-m-d): ")
q1(date)

Enter the date (y-m-d): 2020-02-28
CONFIRMED:
                                0
571.0           Republic of Korea
329.0                       China
238.0                       Italy
143.0  Iran (Islamic Republic of)
39.0                       France
31.0                      Germany
23.0                        Japan
7.0                         Spain
5.0                       Bahrain
4.0                        Sweden
4.0                   Switzerland
4.0            The United Kingdom
3.0                        Canada
3.0      United States of America
2.0                       Croatia
2.0                       Romania
2.0                        Mexico
2.0                     Singapore
2.0                          Iraq
2.0                        Israel
DEATHS:
                               0
44.0                       China
8.0   Iran (Islamic Republic of)
4.0                        Italy
1.0                        Japan
0.0                  Afghanistan
0.0            Republic of Korea
0.0                        Nepal
0.0                  Netherlands
0.0                  New Zealand
0.0                      Nigeria
0.0              North Macedonia
0.0                       Norway
0.0                         Oman
0.0                     Pakistan
0.0                  Philippines
0.0                      Romania
0.0                     Malaysia
0.0           Russian Federation
0.0                   San Marino
0.0                    Singapore

# Part 2

In [468]:
def q2(date1,date2):
    country = df["Country Name"].unique()
    s1 = country.size
    confirm = [0]*s1
    death = [0]*s1
    for i in range(s1):
        confirm[i] = df[(df["day"]>=date1)&(df["day"]<=date2)&(df["Country Name"]==country[i])]["Confirmed"].sum().max()
        death[i] = df[(df["day"]>=date1)&(df["day"]<=date2)&(df["Country Name"]==country[i])]["Deaths"].sum().max()
    print("CONFIRMED:",date1,"-",date2)
    t = pd.DataFrame(country,confirm).sort_index(ascending=False).head(10)
    print(t)
    print("DEATHS:",date1,"-",date2)
    print(pd.DataFrame(country,death).sort_index(ascending=False).head(10))

In [436]:
date1 = "2020-03-14"
date2 = "2020-03-20"
q2(date1,date2)

CONFIRMED: 2020-03-14 - 2020-03-20
                                0
29361                       Italy
16063                     Germany
15749                       Spain
13955    United States of America
8835                       France
8280   Iran (Islamic Republic of)
3715                  Switzerland
3181           The United Kingdom
2190                  Netherlands
2145                      Austria
DEATHS: 2020-03-14 - 2020-03-20
                               0
2764                       Italy
919   Iran (Islamic Republic of)
882                        Spain
371                       France
167           The United Kingdom
165     United States of America
96                   Netherlands
81                         China
42                       Germany
37                       Belgium

# Part 3

In [16]:
# Find the starting and ending days of the longest spread period for a given country. The
# spread period is defined as the period where daily new cases tend to increase. They may
# contain days where new confirmed cases were relatively lower or none at all.
# For example, [5, 2, 9, 16, 11, 27, 14, 45, 11] has a longest spread period elapsing 7 days
# from day 2(2) to day 8(45) and elements are [2,9,16,27,45] or it may be elapsing 8 days
# from day 1(5) to day (8) and elements are [5,9,16,27,45] both have same number of
# elements i.e. 5.
import numpy as np
def q3(country):
    cases = df[df['Country Name']==country]['Confirmed']
    cases = np.array(cases)
    s2 = cases.size #size of the array to be checked for longest series
    k=0 #index of the longest series array
    cntr=0 #counts the range in the longest series array
    indexes = [] #array the will store the indexes of the longest series element
    values = [] #values will store the elements of the longest array
    os_size=0 #the size of the elements in the array
    ns_size=0 #the temp size of the elements in the array
    b=False
    breakit= False
    
    for i in range(s2):
        b=False
        for j in range(s2-1):
            if(b==False):
                indexes.append(j)
                b=True
            if(cases[j]<cases[j+1]):
                indexes.append(j+1)
                cntr+=1
                ns_size+=1
            else:
                j+=1
                cntr+=1
            c=0
            a=0
            for k in range(j,s2-1):
                a+=1
                if(cases[j]>=cases[k+1]):
                    c+=1
            if(c==s2-1-j):
                breakit=True
                break
        if(breakit):
            break
        if(os_size<ns_size):
            os_size = ns_size
            ns_size = 0
        else:
            cntr=0
            indexes = []
            b=False

    print(indexes)
    s1 = len(indexes)
    values.append(cases[indexes[0]])
    k=0
    for i in range(s1-1):
         if(values[k]<cases[indexes[i+1]]):
            values.append(cases[indexes[i+1]])
            k+=1

    print("Largest spread : ",cntr)
    print("starting index and value : ",indexes[0],values[0])
    print("Ending index and value : ",indexes[len(indexes)-1],values[len(values)-1])
    print(values)

In [17]:
q3("Afghanistan")

[0, 12, 16, 19, 20, 25, 27, 30, 32, 33, 36, 38, 41, 42, 44, 45, 48, 49, 51]
Largest spread :  52
starting index and value :  0 1
Ending index and value :  51 110
[1, 3, 6, 10, 32, 52, 56, 61, 110]

# Part 4

In [26]:
# Find the longest daily death toll decrease period for a given country. They may contain
# days where new confirmed deaths were relatively higher.
# For example, [9, 5, 1, 16, 11, 23, 8, 3, 27, 14, 45, 11] has a longest daily death toll decrease
# period of 4 {16, 11, 8, 3}

# Find the starting and ending days of the longest spread period for a given country. The
# spread period is defined as the period where daily new cases tend to increase. They may
# contain days where new confirmed cases were relatively lower or none at all.
# For example, [5, 2, 9, 16, 11, 27, 14, 45, 11] has a longest spread period elapsing 7 days
# from day 2(2) to day 8(45) and elements are [2,9,16,27,45] or it may be elapsing 8 days
# from day 1(5) to day (8) and elements are [5,9,16,27,45] both have same number of
# elements i.e. 5.
import numpy as np
def q4(country):
    cases = df[df['Country Name']==country]['Deaths']
    cases = np.array(cases)
    s2 = cases.size #size of the array to be checked for longest series
    k=0 #index of the longest series array
    cntr=0 #counts the range in the longest series array
    indexes = [] #array the will store the indexes of the longest series element
    values = [] #values will store the elements of the longest array
    os_size=0 #the size of the elements in the array
    ns_size=0 #the temp size of the elements in the array
    b=False
    breakit= False
    
    for i in range(s2):
        b=False
        for j in range(s2-1):
            if(b==False):
                indexes.append(j)
                b=True
            if(cases[j]>cases[j+1]):
                indexes.append(j+1)
                cntr+=1
                ns_size+=1
            else:
                j+=1
                cntr+=1
            c=0
            a=0
            for k in range(j,s2-1):
                a+=1
                if(cases[j]<=cases[k+1]):
                    c+=1
            if(c==s2-1-j):
                breakit=True
                break
        if(breakit):
            break
        if(os_size<ns_size):
            os_size = ns_size
            ns_size = 0
        else:
            cntr=0
            indexes = []
            b=False

    print(indexes)
    s1 = len(indexes)
    values.append(cases[indexes[0]])
    k=0
    for i in range(s1-1):
         if(values[k]>cases[indexes[i+1]]):
            values.append(cases[indexes[i+1]])
            k+=1

    print("Largest spread : ",cntr)
    print("starting index and value : ",indexes[0],values[0])
    print("Ending index and value : ",indexes[len(indexes)-1],values[len(values)-1])
    print(values)

In [28]:
q4("Ukraine")

[0]
Largest spread :  1
starting index and value :  0 0
Ending index and value :  0 0
[0]

# Part 5

In [240]:
def q5():
    deaths = df['Deaths'].sum()
    df["Percentage Deaths"]=(df['Deaths']/df["Cumulative Confirmed"])*100

In [241]:
q5()
df.head(50)

,day,Country,Country Name,Region,Deaths,Cumulative Deaths,Confirmed,Cumulative Confirmed,Percentage Deaths
0,2020-02-24,AF,Afghanistan,EMRO,0,0,1,1,0.000000
1,2020-02-25,AF,Afghanistan,EMRO,0,0,0,1,0.000000
2,2020-02-26,AF,Afghanistan,EMRO,0,0,0,1,0.000000
3,2020-02-27,AF,Afghanistan,EMRO,0,0,0,1,0.000000
4,2020-02-28,AF,Afghanistan,EMRO,0,0,0,1,0.000000
5,2020-02-29,AF,Afghanistan,EMRO,0,0,0,1,0.000000
6,2020-03-01,AF,Afghanistan,EMRO,0,0,0,1,0.000000
7,2020-03-02,AF,Afghanistan,EMRO,0,0,0,1,0.000000
8,2020-03-03,AF,Afghanistan,EMRO,0,0,0,1,0.000000
9,2020-03-04,AF,Afghanistan,EMRO,0,0,0,1,0.000000
10,2020-03-05,AF,Afghanistan,EMRO,0,0,0,1,0.000000
11,2020-03-06,AF,Afghanistan,EMRO,0,0,0,1,0.000000
12,2020-03-07,AF,Afghanistan,EMRO,0,0,3,4,0.000000
13,2020-03-08,AF,Afghanistan,EMRO,0,0,0,4,0.000000
14,2020-03-09,AF,Afghanistan,EMRO,0,0,0,4,0.000000
15,2020-03-10,AF,Afghanistan,EMRO,0,0,0,4,0.000000
16,2020-03-11,AF,Afghanistan,EMRO,0,0,3,7,0.000000
17,2020-03-12,AF,Afghanistan,EMRO,0,0,0,7,0.000000
18,2020-03-13,AF,Afghanistan,EMRO,0,0,0,7,0.000000
19,2020-03-14,AF,Afghanistan,EMRO,0,0,3,10,0.000000
20,2020-03-15,AF,Afghanistan,EMRO,0,0,6,16,0.000000
21,2020-03-16,AF,Afghanistan,EMRO,0,0,5,21,0.000000
22,2020-03-17,AF,Afghanistan,EMRO,0,0,1,22,0.000000
23,2020-03-18,AF,Afghanistan,EMRO,0,0,0,22,0.000000
24,2020-03-19,AF,Afghanistan,EMRO,0,0,0,22,0.000000
25,2020-03-20,AF,Afghanistan,EMRO,0,0,2,24,0.000000
26,2020-03-21,AF,Afghanistan,EMRO,0,0,0,24,0.000000
27,2020-03-22,AF,Afghanistan,EMRO,0,0,10,34,0.000000
28,2020-03-23,AF,Afghanistan,EMRO,1,1,6,40,2.500000
29,2020-03-24,AF,Afghanistan,EMRO,0,1,2,42,0.000000
30,2020-03-25,AF,Afghanistan,EMRO,0,1,32,74,0.000000
31,2020-03-26,AF,Afghanistan,EMRO,1,2,6,80,1.250000
32,2020-03-27,AF,Afghanistan,EMRO,0,2,11,91,0.000000
33,2020-03-28,AF,Afghanistan,EMRO,1,3,15,106,0.943396
34,2020-03-29,AF,Afghanistan,EMRO,1,4,8,114,0.877193
35,2020-03-30,AF,Afghanistan,EMRO,0,4,0,114,0.000000
36,2020-03-31,AF,Afghanistan,EMRO,0,4,52,166,0.000000
37,2020-04-01,AF,Afghanistan,EMRO,0,4,26,192,0.000000
38,2020-04-02,AF,Afghanistan,EMRO,0,4,43,235,0.000000
39,2020-04-03,AF,Afghanistan,EMRO,1,5,34,269,0.371747
40,2020-04-04,AF,Afghanistan,EMRO,0,5,1,270,0.000000
41,2020-04-05,AF,Afghanistan,EMRO,2,7,29,299,0.668896
42,2020-04-06,AF,Afghanistan,EMRO,0,7,38,337,0.000000
43,2020-04-07,AF,Afghanistan,EMRO,4,11,30,367,1.089918
44,2020-04-08,AF,Afghanistan,EMRO,3,14,56,423,0.709220
45,2020-04-09,AF,Afghanistan,EMRO,1,15,61,484,0.206612
46,2020-04-10,AF,Afghanistan,EMRO,0,15,37,521,0.000000
47,2020-04-11,AF,Afghanistan,EMRO,0,15,0,521,0.000000
48,2020-04-12,AF,Afghanistan,EMRO,3,18,34,555,0.540541
49,2020-04-13,AF,Afghanistan,EMRO,3,21,110,665,0.451128

# Part 6

In [85]:
def q6():
    country = df["Country Name"].unique()
    s1 = country.size
    confirm = [0]*s1
    for i in range(s1):
        confirm[i]=df[(df["Country Name"]==country[i])]["Confirmed"].sum()

In [86]:
q6()
pd.DataFrame(country,confirm).sort_index(ascending=False).head(10)

                                 0
604070    United States of America
177633                       Spain
165155                       Italy
130450                     Germany
105155                      France
98480           The United Kingdom
83797                        China
77995   Iran (Islamic Republic of)
69392                       Turkey
33573                      Belgium

# Part 7

In [87]:
def q7():
    country = df["Country Name"].unique()
    s1 = country.size
    countrydeath = [0]*s1
    for i in range(s1):
        countrydeath[i] = df[(df["Country Name"]==country[i])]["Deaths"].sum()

In [88]:
q7()
pd.DataFrame(country,countrydeath).sort_index(ascending=False).head(10)

                                0
25871    United States of America
21647                       Italy
18579                       Spain
17146                      France
12868          The United Kingdom
4869   Iran (Islamic Republic of)
4440                      Belgium
3569                      Germany
3352                        China
3134                  Netherlands